.login {
  margin-bottom: 15rem;

  @include respond(tablet-port) {
    margin-bottom: 7rem;
  }

  .login-box {
    width: 50%;
    margin: 0 auto;
    background-color: $grey-color-3;
    padding: 5rem;

    @include respond(tablet-port) {
      width: 100%;
    }

    @include respond(mobile-xl) {
      padding: 5rem 2rem;
    }
  }
}