.accordion {

  @include respond(laptop-l) {
    padding-right: 0 !important;
  }

  @include respond(tablet-port) {
    width: 100% !important;
    margin-bottom: 2rem;
  }

  li {
    list-style: none;
    margin-bottom: .5rem;
  }

  &__content {
    overflow: hidden;
    height: 0;
  }

  &__item {

    >a {
      background-color: $grey-color-3;
      display: block;
      display: flex;
      justify-content: space-between;
      padding: .5rem
    }

    &--open {
      .accordion__content {
        height: auto;
      }
    }
  }

  &__content-item {
    padding-left: 1rem;

    &:first-child {
      margin-top: 1rem;
    }

    &--active {
      border-left: .1rem solid $primary-color;

      >a {
        color: $primary-color;
      }
    }
  }
}