.btn {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.3rem;
  min-width: 28rem;
  display: inline-block;
  text-align: center;
  border: none;
  padding: 1.4rem 0;

  @include respond(tablet-port) {
    min-width: 0;
    width: 100%;
  }

  &__primary {
    background-color: $primary-color;
    color: $white-color !important;
  }

  &__secondary {
    background-color: $white-color;
    color: $dark-color !important;
    font-weight: 600;
  }

  &__full-width {
    min-width: 0 !important;
    width: 100%;
  }
}