.btn {
  color: $white-color;
  background-color: $primary-color;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.3rem;
  width: 25rem;
  display: inline-block;
  text-align: center;
  border: none;
  padding: .8rem 0;
}