.footer {
  padding-bottom: 2rem;

  a,
  p {
    text-transform: none;
    color: $grey-color-1;
  }

  a:hover {
    color: $primary-color;
  }

  .footer-menu {
    list-style: none;
    display: inline-block;

    li {
      display: inline-block;
      padding: 1rem 2rem;
    }
  }

  .footer-logo {
    &__container {
      display: flex;
    }

    &__image {
      width: 13rem;
      height: 4rem;
      margin-right: 4rem;
    }
  }

  .footer-socials {
    list-style: none;

    >li {
      display: inline-block;

      >a {
        margin-right: 1rem;
      }
    }
  }

  .footer-credit {
    background-color: $grey-color-3;
    padding: 2rem 0;
  }

}