.input {
  border: .1rem solid $grey-color-3;
  color: $grey-color-1;
  display: block;
  width: 100%;
  padding: 1rem;
  outline: none;

  &::placeholder {
    color: $grey-color-1;
  }

  &:focus {
    border-color: $primary-color;
  }

}