.offer {
  background-color: $grey-color-3;

  &__image {
    width: 100%;
    height: 30rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .content {
    padding: 2rem 3rem;
  }
}