.home {
  overflow: hidden;

  @import './hero';
  @import './appointment';


  .services {
    margin-bottom: 15rem;
  }

  .accordion {

    li {
      list-style: none;
      margin-bottom: .5rem;
    }

    &__content {
      display: none;
    }

    &__item {
      >a {
        background-color: $grey-color-3;
        display: block;
        display: flex;
        justify-content: space-between;
        padding: .5rem
      }

      &--open {
        .accordion__content {
          display: block;
        }
      }
    }

    &__content-item {
      padding-left: 1rem;

      &--active {
        border-left: .1rem solid $primary-color;

        >a {
          color: $primary-color;
        }
      }
    }
  }

  .service {
    &__image-container {
      width: '100%';
      text-align: right;
    }

    &__image {
      width: 25rem;
      height: 25rem;
      object-fit: cover;
    }
  }

  .whychoose {
    margin-bottom: 15rem;

    .whychoose-image {
      width: 80%;
      height: 40rem;
      object-fit: cover;
    }
  }

  .products {
    margin-bottom: 15rem;

    .products-list {
      display: flex;
      flex-direction: row;

      &__image {
        width: 15rem;
        height: 5rem;
        margin-right: 3rem;
      }
    }

    .underline {
      width: 100%;
      height: .2rem;
      background-color: $grey-color-3;
      margin-top: 1rem;

      &__progress {
        background-color: $grey-color-2;
        width: 40%;
        height: .2rem;
        border-radius: 1rem;
      }
    }

    .arrows {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;

      &__left {
        margin-right: 2rem;
      }

      &__right {
        margin-left: 2rem;
      }
    }
  }

  .schedule {
    margin-bottom: 15rem;

    .schedule-container {
      background-color: $grey-color-3;
      text-align: center;
      padding: 10rem;
    }

    .schedule-image {
      width: 90%;
      height: auto;
      object-fit: cover;
    }
  }

  .reviews {
    margin-bottom: 15rem;

    .review-container {
      background-color: $light-primary-color;
      padding: 3rem;
      display: flex;
    }

    .review {
      padding: 2rem;
      background-color: $white-color;
      margin-right: 3rem;

      &:last-child {
        margin-right: 0;
      }

      .review-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__title {
          text-transform: uppercase;
          font-weight: 600;

          &::before {
            content: "<< ";
            font-size: 1rem;
          }

          &::after {
            content: " >>";
            font-size: 1rem;
          }
        }

        &__logo {
          width: 2rem;
          height: 2rem;
        }
      }

      .review-footer {
        display: flex;

        &__image {
          width: 2rem;
          height: 2rem;
          margin-right: 1.5rem;
          border-radius: 100%;
        }
      }
    }

    .underline {
      width: 100%;
      height: .2rem;
      background-color: $grey-color-3;
      margin-top: 1rem;

      &__progress {
        background-color: $grey-color-2;
        width: 40%;
        height: .2rem;
        border-radius: 1rem;
      }
    }

    .arrows {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;

      &__left {
        margin-right: 2rem;
      }

      &__right {
        margin-left: 2rem;
      }
    }
  }

  .photo-gallery {
    margin-bottom: 15rem;

    .gallery {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      height: 70rem;
      flex-direction: column;

      &::after {
        content: '';
        flex-grow: 999;
      }

      >li {
        flex: auto;
        width: 30rem;
        position: relative;
        list-style: none;
        cursor: pointer;

        &:hover .overlay {
          transform: scale(1);
        }
      }

      li img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        vertical-align: middle;
        border-radius: .5rem;
      }

      .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: $transparent-dark-color;
        top: 0;
        left: 0;
        transform: scale(0);
        transition: all .2s .1s ease-in-out;
        border: .5rem;
        display: flex;
        align-items: center;
        justify-content: center;

        h5 {
          color: $white-color;
        }
      }

    }

    .underline {
      width: 100%;
      height: .2rem;
      background-color: $grey-color-3;
      margin-top: 1rem;

      &__progress {
        background-color: $grey-color-2;
        width: 40%;
        height: .2rem;
        border-radius: 1rem;
      }
    }

    .arrows {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;

      &__left {
        margin-right: 2rem;
      }

      &__right {
        margin-left: 2rem;
      }
    }
  }

  .question {
    margin-bottom: 15rem;

    .question-container {
      background-color: $light-primary-color;
      padding: 5rem;
    }

    .question__title {
      color: $white-color;
    }

    .question__subtitle {
      color: $dark-color;
      font-size: 2.8rem;
      position: relative;
      display: inline-block;
      z-index: 0;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: .9rem;
        height: .5rem;
        width: 100%;
        background-color: $white-color;
        z-index: -1;
      }
    }

    .question-image {
      width: 90%;
      height: 100%;
      object-fit: cover;
    }
  }
}