.reviews {
  margin-bottom: 15rem;

  .review-container {
    background-color: $light-primary-color;
    padding: 3rem;
  }

  .review {
    padding: 2rem;
    background-color: $white-color;
    margin-right: 3rem;

    &:last-child {
      margin-right: 0;
    }

    .review-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__title {
        text-transform: uppercase;
        font-weight: 600;

        &::before {
          content: "<< ";
          font-size: 1rem;
        }

        &::after {
          content: " >>";
          font-size: 1rem;
        }
      }

      &__logo {
        width: 2rem;
        height: 2rem;
      }
    }

    .review-footer {
      display: flex;

      &__image {
        width: 2rem;
        height: 2rem;
        margin-right: 1.5rem;
        border-radius: 100%;
      }
    }
  }


}