 .services {
   margin-bottom: 15rem;

   @include respond(tablet-port) {
     margin-bottom: 6rem;
   }

   .service {
     @include respond(tablet-port) {
       padding-left: 0;
     }

     @include respond(tablet-port) {
       >.row {
         flex-direction: column-reverse;
       }
     }

     &__image-container {
       width: '100%';
       text-align: right;

       @include respond(tablet-port) {
         text-align: center;
       }
     }

     &__image {
       width: 25rem;
       height: 25rem;
       object-fit: cover;

       @include respond(tablet-port) {
         width: 95%;
         margin: 1rem 0;
       }
     }
   }
 }