@font-face {
  font-family: 'Jost';
  src: url('../public/fonts/Jost-900.ttf') format('truetype');
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: 'Jost';
  src: url('../public/fonts/Jost-800.ttf') format('truetype');
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: 'Jost';
  src: url('../public/fonts/Jost-700.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Jost';
  src: url('../public/fonts/Jost-600.ttf') format('truetype');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Jost';
  src: url('../public/fonts/Jost-500.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Jost';
  src: url('../public/fonts/Jost-400.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Jost';
  src: url('../public/fonts/Jost-300.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
}