@import './abstract/variables';
@import './abstract/typography';
@import './fonts';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 10px;
  max-width: 150rem;
  margin: 0 auto;
  background-color: $primary-color;
}

body {
  background-color: $white-color;
}

a,
a:hover,
a:visited,
a:link {
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
  color: $dark-color;
  transition: .3s ease-in-out;
}

a:hover {
  color: $primary-color;
}

@import './main.scss';